{% extends "basic.html" %}

{% block title %}{{ config.title }} • {{ page.title }}{% endblock title %}

{% block content %}
<article class="post animated fadeInDown">
  <h1>{{ page.title }}</h1>
  {% if page.extra.author %}
  <div class="info">By {{ page.extra.author }}.</div>
  {% endif %}
  <div class="post-content">{{ page.content | safe }}</div>
  <div class="post-footer">
    <div class="meta">
      <div class="info">
        {% if page.date %}
        <i class="far fa-sun"></i><span class="date">{{ page.date | date(format=trans(key="date_format", lang=lang))
          }}</span>
        {% endif %}
        {% if page.taxonomies.tags %}
        <i class="fas fa-tags"></i>
        {% for tag in page.taxonomies.tags %}
        <a class="tag" href="{{ get_url(path="@/_index.md", lang=lang) }}tags/{{tag}}">&nbsp;{{tag}}</a>
        {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</article>
{% include "comments.html" %}
{% if page.extra.katex %}
<link rel="stylesheet" href="{{ get_url(path="third_party/katex/katex.min.css") }}">
<script src="{{ get_url(path="third_party/katex/katex.min.js") }}" defer></script>
<script src="{{ get_url(path="third_party/katex/auto-render.min.js") }}" defer></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        renderMathInElement(document.body, {
          delimiters: [
              {left: '$$', right: '$$', display: true},
              {left: '$', right: '$', display: false},
              {left: '\\(', right: '\\)', display: false},
              {left: '\\[', right: '\\]', display: true}
          ],
          throwOnError : false
        });
    });
</script>
{% endif %}
{% endblock content %}
